body {
/*  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;*/

background: #fff;
color: #51555c;
font: 12px/18px helvetica, arial, sans-serif;

}

h1 {
  font-size: 28px;
  color: #000;
}

a  {color: #03c}
a:hover {
  background-color: #d0e2f8;
  color: white;
  text-decoration: none;
}

p {
	margin-bottom: 18px;
}

/* header*/

#header {
	background-image: url(../images/gradient-dark.png);
	background-color: #51555c;
	background-repeat: repeat-x;
	background-position: left bottom;
	color: #cecfd1;
	min-width: 980px;
	height: 100px;
}

#header .wrapper {
	background-image: url(../images/texture-dark.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 13px 10px 10px;
	clear: both;
	margin: 0 auto;
	width: 960px;
}

.nav {
	background: transparent;
	list-style: none;
	margin: 0;
	padding: 0;
}






#header p {
	margin: 0;
	padding-top: 30px;
	padding-left: 30px;
	float: left;	
}

#header h1 {
	margin: 0;
	padding-top: 5px;
	padding-left: 30px;
	float: left;
}
#header a {
	margin: 0;
	padding: 23px 10px;
	float: right;
	color: #03c;
}


/* content */ 

#content {
  margin: 10px auto 0;
  background-color: #f0f0f0;;
  padding: 25px;
  width: 800px;
}


/* footer */

#footer {
  clear: both;
}



