body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
/*  background-color: #f0f0f0; 0cc*/
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a  {color: #03c}
a:hover {
  background-color: #d0e2f8;
  color: white;
  text-decoration: none;
}

/*468ceb*/

/* header  #e0e0e0  whiteSmoke */

#header {
	margin: 10px auto 0;
	background-color: #468ceb;
	width: 850px;
	height: 64px;
}

#header p {
	margin: 0;
	padding-top: 30px;
	padding-left: 30px;
	float: left;	
}

#header h1 {
	margin: 0;
	padding-top: 5px;
	padding-left: 30px;
	float: left;
}
#header a {
	margin: 0;
	padding: 23px 10px;
	float: right;
	color: #03c;
}


/* content */ 

#content {
  margin: 10px auto 0;
  background-color: #f0f0f0;;
  padding: 25px;
  width: 800px;
}


/* footer */

#footer {
  clear: both;
}



