---
layout: default
---

{% for post in paginator.posts %}
	<div class="post">
		<div class="post-head">
			<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<div class="meta">
				Posted in : 
				{% for category in post.categories %}
					<a href="Category_{{category}}">{{ category }}</a>
				{% endfor %}
				<span class="comments-link">
				      <a href="{{}}">{{ post.comments | size }} Comment</a>
				</span>
			</div>
		</div>
		<div class="entry">
			{{ post.content }}
		</div>
	</div>
{% endfor %}

										
<div class="navigation">
	{% if paginator.previous_page %}
		<span class="nav-previous">
			{% if paginator.previous_page == 1 %}
				<a href="/">Previous</a>
			{% else %}
				<a href="/page{{paginator.previous_page}}">Previous</a>
			{% endif %}
		</span>
	{% endif %}
	{% if paginator.next_page %}
		<span class="nav-next"><a href="/page{{paginator.next_page}}">Next</a></span>
	{% endif %}		
</div>

